// mixins are used to encapsulate styles that can be dropped into a single style rule

@mixin character-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    background: rgb(60, 62, 68);
    border-radius: 0.5rem;
    border-right: 5px solid $color-yellow-pikuchu;
    margin: 0.7rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.6) 0px 2px 4px -1px;
}
